
<div class="row">
	<div class="col">
		<h1>Demo - FIRST - Traspasar datos a la vista</h1>
		<hr />
	</div>
</div>

<div class="row">
	<div class="col">
		<p><b>Empresa (<small>TempData):</small></b> @TempData["Valor"]</p>
	</div>
</div>

<partial name="_DemoPartial" />