@model Customer

<div class="row">
	<div class="col">
		<h1>Demo - SEARCH - Traspasar datos a la vista</h1>
		<hr />
	</div>
</div>

<div class="row">
	<div class="col">
		<p><b>Empresa: </b> @Model.CompanyName</p>
		<p><b>Ciudad : </b> @Model.City</p>
		<p><b>País: </b> @Model.Country</p>

	</div>
</div>
