
<div class="row">
	<div class="col">
		<h1>Demo - SECOND - Traspasar datos a la vista</h1>
		<hr />
	</div>
</div>

<div class="row">
	<div class="col">
		<p><b>Empresa (<small>TempData):</small></b> @TempData["Valor"]</p>
		<p><b>Acción (<small>ViewData):</small></b> @ViewBag.Action</p>
	</div>
</div>
