@model Customer

@{
    ViewData["Title"] = "Nuevo Clientes";
}

@section Styles { }

@section Scripts {
    <script>
        $(document).ready(function () {
        @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <text>
                DemoApp.Modules.Customers.Init();
            </text>
        }
        else
        {
            <text>
                DemoApp.Core.Message.Show('@ViewBag.ErrorMessage', 'error');
            </text>
        }

        @if (!string.IsNullOrEmpty(ViewBag.InfoMessage))
        {
            <text>
                DemoApp.Core.Message.Show('@ViewBag.InfoMessage', 'info');
            </text>
        }
        });
    </script>
}

<div class="row">
    <div class="col">
        <h1>Ficha del Cliente</h1>
        <hr />
    </div>
</div>
<br />
<form method="post">
<partial name="_FormCustomers" model="Model" />
<br />
<div class="row">
    <div class="col-6">
        <a asp-controller="customers" asp-action="index" class="btn btn-success">Volver al listado</a>
    </div>
    <div class="col-6 text-end">
        <button type="submit" class="btn btn-danger">Registrar</button>
    </div>
</div>
<br />
</form>