@{

}

<div class="row">
	<div class="col">
		<h1>Demo Inyección de Dependencias</h1>
		<hr />
		<p><b>Singleton:</b> @ViewData["Singleton"]</p>
		<p><b>Contador Singleton:</b> @ViewBag.ContSingleton</p>
		<p><b>Scoped:</b> @ViewData["Scoped"]</p>
		<p><b>Transient:</b> @ViewData["Transient"]</p>
	</div>
</div>