@{
    ViewData["Title"] = "Home Page";
}

@section Styles { }

@section Scripts {
    <script></script>
}

<br />
<div class="text-center">
    <h1 class="display-4">Welcome Northwind Inc.</h1>
    <hr />
    <br /><br /><br />
    <img src="https://www.ussbchamber.org/wp-content/uploads/2019/08/northwind-final-01.png" class="img-fluid" />
    <br /><br /><br /><br />
    <hr />
</div>


